// Colores principales
$primary-color: #EE6F57;
$primary: #EE6F57;
$secondary-color: #1F3C88;
$custom-color: tomato;

// Textos
$text-color: #F6F5F5;

@import  'node_modules/bootstrap/scss/bootstrap.scss' ;
@import  'node_modules/bootstrap-vue/src/index.scss' ;

// Estilos para el botón principal
.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
  }
  
.btn-primary:hover {
    background-color: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);
}
  
.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(238, 111, 87, 0.5);
}