// Colores principales
$primary-color: #EE6F57;
$primary: #EE6F57;
$secondary-color: #1F3C88;
$text-dark-color: #16181b;
$text-gray-color: #5f6368;
$border-gray-color: #ccc;

// Textos
$text-color: #F6F5F5;

@import  'node_modules/bootstrap/scss/bootstrap.scss' ;
@import  'node_modules/bootstrap-vue/src/index.scss' ;

:root {
    --acivity-border-color: #3A2C60;
    --acivity-background-color: #F0F0F0;
    --primary-rgba-30-color: rgba(238, 111, 87, 0.3);
}

.custom-actions-button .btn-link {
    color: #FFFFFF;
}
.custom-actions-button:hover .btn-link {
    color: rgb(228, 228, 228);
}

.custom-close-button {
    background: transparent;
    color: #ccc;
    border: initial;
}
// Estilos para el botón principal
.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
}
  
.btn-primary:hover {
    background-color: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);
}
  
.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(238, 111, 87, 0.5);
}

.custom-card-box {
  background: #FFFFFF;
  border-radius: 0.4rem;
  box-shadow: 0 4px 24px 0 rgba(34,41,47, 0.15);
  padding: 1rem;  
}

.custom-center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.width-100 {
    width: 100%;
}

@media (max-width: 576px) {
    .display-3 {
      font-size: 4rem;
    }
}

h1 {
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";    
    letter-spacing: -0.5px;
    font-weight: 400;
} 

h2, h3, h4 {
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";    
    letter-spacing: -0.5px;    
}
h4 {
    font-size: 22px;
    font-weight: 400;
}
p {
    color: var(--text-gray-color);
    text-align: center;
}

// Contenedor de las vistas
.custom-master-container {
    max-width: 100% !important;
    padding: 1rem 2rem;
    position: absolute;
    min-height: 100%;
    top: 0;
}
@media (max-width: 767px) {
    .custom-master-container {
      padding: 1rem 1rem;
    }
}
// Formularios
.custom-form {
    width: 100%;
    padding: 20px;
    border-radius: 5px;  
    h1 {
        font-size: 24px;
        font-family: -apple-system, BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";    
        letter-spacing: -0.5px;
        font-weight: 400;
    }  
    form {
        padding: 0 2rem;
        input{
            text-align: center;
        }
    }    
}

form {
    padding: 0 2rem;
    input{
        text-align: center;
    }
}   

.required-label label::after {
    content: "*";
    color: red;
    margin-left: 5px; 
}

@media (max-width: 768px) {
    form {
        padding: 0;
    }  
}

// Iconos
i {
    margin-right: 0.5rem;
    font-size: 130%;
}

// Custom styles
.cursor-pointer {
    cursor: pointer;
}

.title-bold-primary {
    text-align: center;
    color: var(--primary);
    font-size: 26px;
    font-weight: 500;    
}
.title-bold {
    text-align: center;
    font-size: 26px;
    font-weight: 500;
}
.subtitle-light {
    text-align: center;
    font-weight: 400;   
}

.border-solid-radius {
    border-radius: 0.4rem;
    border: 1px solid var(--text-gray-color);    
}

.rounded-table {
    border-radius: 0.4rem;
    border: 1px solid var(--text-gray-color);
}  

.custom-table td,
.custom-table th {
  padding: 1rem 0.5rem !important; 
  text-align: center; 
  vertical-align: middle !important; 
}

.table-align-middle td,
.table-align-middle th {
  vertical-align: middle;
}

@media (min-width: 768px) {
    .custom-table {
      padding: 1rem;
    }
}

// Custom buttons
i.custom-info-driver-button {
    cursor: pointer;
    font-size: 85%;
    margin: 0;
}
i.custom-info-driver-button:hover {
    color: var(--warning);
}

.help-button {
    background: none !important;
    color: #B6BBC4 !important;
    border: none !important;
}
.help-button:hover {
    color: var(--acivity-border-color) !important;
    text-decoration: underline;
}